.img-principal{
    margin: 5px;
}
.img-bloco1{
    margin: 5px;
}
.img-bloco2{
    margin: 5px;
}
.img-bloco3{
    margin: 5px;
}
.img-bloco4{
    margin: 5px;
}
.fundou{
 display: flex;
 position: auto;
}
.text{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(3, 21, 6); 
    text-decoration: none;"
    font-weight: 400;
    font-size: 45.1524px;
}
.text2{
    
}