.img-principal{
    margin-top: 50px;
    margin-left: 70px;
}
.img-bloco1{
    margin-top: 50px;
    margin-left: 50px;
}
.img-bloco2{
    margin-top: 50px;
    margin-left: 50px;
}
.img-bloco3{
    margin-top: 50px;
    margin-left: 50px;
}
.img-bloco4{
    margin-top: 50px;
    margin-left: 50px;
}