*{
    margin: 0;
    padding: 0;
}
.texto{
    height:500px;
    width: 500px;
    margin-left: 780px;
    margin-top: 100px;
}
.body{
    width: 100%;
    height: 100%;
    background-color: #D7DBD9;
    background-repeat: no-repeat;
    position: fixed;
    
}
.IMG-FUNDO{
    width: 620px;
    height: 597px;
    background-image: url(/img/img-inicio.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 60px;
    margin-left: 40px;
    
}
.menu-principal{
    display: inline;
    width: 100%;
    background-color:#0A250D;
    height: 55px;
    position: fixed;
    margin-top: -60px;
}

menu{
    font-family: arial;
    margin-top: 30px;
    width: 200px;
    height: 100px;
}

.menu > img{
    height: 20px; 
    width: 20px
}

.menu >a{
    text-decoration: none;
    color:black;
}

ul{
  list-style: none;
}

.menu>input[type="checkbox"]{
    display: none;
}

nav{
    background-color: rgba(16, 16, 16, .5);
    width: 350px;
    height: 100%;
}

.menu>a{
    background: red;
    display: block;
    padding: 20px 5px;
    margin-top: -20px;
}

a:hover{
    background: rgb(176, 224, 230);
    color: black;
}

.menu>label{
    background-color: rgb(241, 0, 0);
    width: 5px; 
    height: 5px;
    margin-bottom: -10px;
    margin-left: 20px;
}

.logo{
    background-image: url(/img/inicio/logo-br.png);
    width: 220px;
    height: 220px;
    margin-top: -82px;
    margin-left: -10px;
    position: fixed;
    background-size: cover;
}
.btn-text-top{
    margin-left: 65%;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgba(255, 255, 255,8);
    border-radius: 12px;
    padding: 15px 50px 15px 30px;
    width: 165px;
    height: 2px;
    position: relative;
}
.btn-buscar-top{
    margin-left: -29px;
    top: 16px;
    width: 20px;
    height: 22px;
    background:url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    border:none;
    cursor: pointer;
    position: fixed;
}
.form-busca-site{
    margin-left: 2px;
}
.menu-secundario{
    width: 100%;
    background-color:#7C9E82;
    height: 45px;
    margin-top: 15px; 
    position: fixed;   
}

.Palavras-manu-secundario{
    display: flex;
    height: 20px;
    width: 345px;
    justify-content:space-around;
    margin-left: 74%;
    margin-top: 13px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.espaço-palavras-menu-principal{
    
}
.sacola{
    margin-left: 83%;
    margin-top: -1%;
    color: white;
    position: relative;
}
.entrar{
    margin-left: 90%;
    margin-top: -1%;
    color: white;
    position: relative;
}

.img-sacola{
    width: 25px;
    height: 25px;
    background-image: url(/img/inicio/bag.png) ;
    position: fixed;
    background-size: cover;
    margin-left: 81%;
    margin-top: -25px;
}
.img-entrar{
    width: 25px;
    height: 25px;
    background-image: url(/img/inicio/bonequinho.png) ;
    position: fixed;
    background-size: cover;
    margin-left: 88%;
    margin-top: -25px;

}