*{
    margin: 0;
    padding: 0;
}
.texto{
    border: 1px solid black;
    height:300px;
    width: 300px;
}
body{
    width: 100%;
    height: 100%;
    background-image: url('trabalho/paisagem.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-principal{
    width: 100%;
    background-color:#252523;
    height: 55px;
    position: fixed;
}
.logo{
   margin-top: -72px;
   margin-left: -10px;
   position: fixed;
}
.btn-text-top{
    margin-left: 58%;
    margin-top: 10px;
    background-color: whitesmoke;
    border:1px solid rgba(255, 255, 255,8);
    border-radius: 12px;
    padding: 15px 50px 15px 30px;
    width: 165px;
    height: 2px;
}
.btn-buscar-top{
    margin-left: 54%;
    width: 20px;
    height: 22px;
    background:url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    border:none;
    cursor: pointer;
    position:relative;
    left:270px;
    top:-29px;
    
}
.form-busca-site{
    margin-left: 0px;
}
.menu-secundario{
    width: 100%;
    background-color:#41413ba8;
    height: 45px;
    margin-top: 14px;
    margin-left: 0px;
}

.Palavras-manu-secundario{
    display: flex;
    height: 30px;
    width: 400px;
    justify-content:space-around;
    margin-left: 65%;
    margin-top: -30px;
    color: white;

}
.Palavras-manu-primario{
    display: flex;
    height: 20px;
    width: 180px;
    justify-content:space-between;
    margin-left: 81%;
    margin-top: -50px;
    color: white;
}