body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* menu principal */

.menu01{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background-color: #0A250D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    /* font-size: 10px;
    font-weight: bold; */
    background-image:url(logo-br.png) ;
    background-size: 240px;
    text-transform: uppercase;
    width: 236px;
    height: 145px;
    margin-top:-96px;
    margin-left: -25px;
}

/* caixa de pesquisa */

.caixa-de-pergunta {
    flex: 1;
    margin: 0 20px;
    /* text-transform: uppercase; */
}

.caixa-de-pergunta input[type="text"] {
    margin-right: 1vw;
    width: 275px;
    height: 5vh;
    border: none;
    border-radius: 8px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
    background-color:rgb(235, 236,240);
}
.btn-buscar-top{
    margin-left: -7vh;
    margin-top: 2px;
    width: 4vh;
    height: 4vh;
    background-color: rgba(138, 97, 172, 0.533);
    background:no-repeat;
    border:none;
    cursor: pointer;
    position: fixed;
    background-image: URL(icons8-lupa\ \(1\).svg);
    background-size: 4vh;
}

.search-and-login {
    display: flex;
    align-items: center;
}

/* Entrar e sacola */

.entrar-sacola {
    display: flex;
    align-items: center;
    width: 30vh ;
}

/* entrar */

.Tex-entrar{
    color: #fff;
    margin-left:21vh;
    margin-top:-1vh ;
    text-decoration: none;
    font-size: 2vh;
    position: fixed; 
    font-family: 'Montserrat', sans-serif;
} 
.entrar-tamanho{
    width: 4vh;
    height: 4vh;
    margin-top:-2vh;
    margin-left: 16vh;
    position: fixed; 
}

/* sacola */

.bag-tamanho{
    width: 4vh;
    height: 4vh;
    margin-top:-2vh;
    position: fixed; 
}
.Tex-bag{
    color: #fff;
    margin-left:5vh;
    margin-top:-1vh ;
    text-decoration: none;
    font-size: 2vh;
    position: fixed; 
    font-family: 'Montserrat', sans-serif;
} 








/* menu02  */

.menu02{
    position: fixed;
    margin-top: 58px;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #7C9E82;
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
    box-sizing: border-box;
}

.btn-text-top{
    /* margin-left: 135vh; */
    /* margin-top: 10px; */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255,8);
    border-radius: 12px;
    padding: 15px 50px 15px 30px;
    width: 170px;
    height: 2px;
    position: relative;
}


.container-descricao{
    display:grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 33% 33% 33%;
    width: 100%;
    height: 15vh;
    margin-top: 16vh;

}

.container-caixinhas{
    display:grid;
    /* grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%) ; */
    grid-template-areas:
     'b12 b13 b14 b15'
     'b12 b13 b14 b15';
    margin-left:5vh;
    margin-top: 5vh;
    gap: 4vh;
}

.fundo-caixinhas{
    border-radius: 10px;
    /* border: 1px solid black; */
}

.box{ 
    /* border: solid 1px black; */
    display: grid;
    align-items: center;
}

#box1{
    /* grid-area: b1; */
    grid-column: 1/11;
    padding: 10px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight:bold;
}

#box2{
    /* grid-area: b2; */
    grid-column: 1/9;
    padding: 10px;
    margin-left: 15px;
    margin-top: -4vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#box3{
    /* grid-area: b3; */
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: -3vh;
}

#box4{
    margin-top: -2vh;
    
    /* grid-area: b4; */
}

#box5{
    /* grid-area: b5; */
    /* display: flex; */
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 15px;
    justify-items: end;
}

#box6{
    /* grid-area: b6; */
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    justify-items: end;
    
}

#box7{
    /* grid-area:b7 ; */
    display: flex;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    justify-content: end;
}

#box8{
    /* grid-area:b8 ; */
    display: flex;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#box9{
    /* grid-area:b8 ; */
    display: flex;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    justify-content: end;
}

#box10{
    /* grid-area:b8 ; */
    display: flex;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#box11{
    /* grid-area:b8 ; */
    grid-column: 7/11;
}

#box12{
    grid-area:b12 ;
    width: 43vh;
    height: 60vh;
    /* background-image: url(1.png); */
    background-color: rgb(223,203,190);
}

#box13{
    grid-area:b13 ;
    width: 43vh;
    height: 60vh;
    /* background-image: url(2.png); */
    background-color: rgb(223,203,190);
}

#box14{
    grid-area: b14;
    width: 43vh;
    height: 60vh;
    /* background-image: url(3.png); */
    background-color: rgb(223,203,190); 
}

#box15{
    grid-area: b15;
    width: 43vh;
    height: 60vh;
    /* background-image: url(4.png); */
    background-color: rgb(223,203,190);
}

.imgbox{
    margin: 5vh;
    height: 35vh;
    width: 33vh;
    /* border: 1px solid black; */
    
    
}

#imgbox12{
    
    background-image: url(1.png);
    background-position: center center;
    
    
}

#imgbox13{
  
    background-image: url(2.png);
    background-position: center center;
}

#imgbox14{
    background-image: url(3.png);
    background-position: center center;
}

#imgbox15{
    background-image: url(4.png);
    background-position: center center;
}


.produtos{
    color: #0A250D;
}

.descricao-produtos{
    /* border: 1px solid black; */
    height: 10vh;
}


#h1 {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top:-3vh;

}

#h2{
    margin-top: -11vh;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-left: 3vh;
    
}

#h3{
    margin-top: -2vh;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-left: 3vh;
    
}

input > #box5{
    width: 2vh;
}
.estrelas input[type=radio] {
  display: none;
  
}
.estrelas label i.fa{
  font-size: 1.3em;
  
  
}
.estrelas label i.fa:before {
  content:'\f005';
  color: rgb(255, 238, 0); 
  margin-left: 3vh;
  
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #c4a888;
  
}