*{
    margin: 0;
    padding: 0;
}
.texto{
    height: 80vh;
    width: 30vw;
    margin-left: 56%;
    margin-top: 11vh;
    /* background-color: rgba(0, 255, 255, 0.507); */
}
.body{
    width: 100%;
    height: 100%;
    background-color: #D7DBD9;
    background-repeat: no-repeat;
    position: fixed;
}

.menu-principal{
    display: inline;
    width: 100%;
    background-color:#0A250D;
    height: 55px;
    position: fixed;
}

menu{
    font-family: arial;
    margin-top: 30px;
    width: 200px;
    height: 100px;
}

.menu > img{
    height: 20px; 
    width: 20px
}

.menu >a{
    text-decoration: none;
    color:black;
}

ul{
  list-style: none;
}

.menu>input[type="checkbox"]{
    display: none;
}

nav{
    background-color: rgba(16, 16, 16, .5);
    width: 350px;
    height: 100%;
}

.menu>a{
    background: red;
    display: block;
    padding: 20px 5px;
    margin-top: -20px;
}

a:hover{
    color: green;
    background: rgb(176, 224, 230);
    color: black;
}

.menu>label{
    background-color: rgb(241, 0, 0);
    width: 5px; 
    height: 5px;
    margin-bottom: -10px;
    margin-left: 20px;
}

.logo{
    background-image: url(/img/inicio/logo-br.png);
    width: 220px;
    height: 220px;
    margin-top: -82px;
    margin-left: -10px;
    position: fixed;
    background-size: cover;
}
.btn-text-top{
    margin-left: 135vh;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255,8);
    border-radius: 12px;
    padding: 15px 50px 15px 30px;
    width: 170px;
    height: 2px;
    position: relative;
}
.btn-buscar-top{
    margin-left: -29px;
    top: 16px;
    width: 20px;
    height: 22px;
    background:url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
    border:none;
    cursor: pointer;
    position: fixed;
}
.form-busca-site{
    margin-left: 2px;
}
.menu-secundario{
    width: 100%;
    background-color:#7C9E82;
    height: 45px;
    margin-top: 11px; 
    position: fixed;   
}

.Palavras-menu-secundario{
    display: flex;
    height: 20px;
    width: 345px;
    justify-content:space-around;
    margin-left: 145vh;
    margin-top: 13px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
 
.espaço-palavras-menu-principal{
    margin-left: 84vw;
    margin-top: -2vw;
    position: fixed;
    height: 4vh;
    width: 14vw; 
    display: inline-flex;
}

.sacola{
    margin-left: 24%;
    margin-top: 4px;
    color: white;
    position: relative;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.entrar{
    margin-left: 22%;
    margin-top: 4px;
    color: white;
    position: relative;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.img-sacola{
    width: 25px;
    height: 25px;
    background-image: url(/img/inicio/bag.png) ;
    position: fixed;
    background-size: cover;
    margin-left: 16vh;
    margin-top: 1px;
}
.img-entrar{
    width: 25px;
    height: 25px;
    background-image: url(/img/inicio/bonequinho.png) ;
    position: fixed;
    background-size: cover;
    margin-left: 2vh;
    margin-top: 1px;
} 

.container-descricao{
    display:grid;
    /* grid-template-columns: repeat(10, 10%); */
    grid-template-rows: 33% 33% 33%;
    /* grid-template-areas: 'b1 b1 b1 b1'; */
    width: 100%;
    height: 15vh;
    margin-top: 10vh;

}
.box{ 
    border: solid 1px black;
    
}

#box1{
    /* grid-area: b1; */
    grid-column: 1/11;
    padding: 10px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight:bold;
}

#box2{
    /* grid-area: b2; */
    grid-column: 1/9;
    padding: 10px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#box3{
    /* grid-area: b3; */
    padding: 10px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#box4{
    /* grid-area: b4; */
}

#box5{
    /* grid-area: b5; */
    /* display: flex; */
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-left: 15px;
    width: 30px;
}

#box6{
    /* grid-area: b6; */
    display: flex;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 30px;

}

#box7{
    /* grid-area:b7 ; */
    display: flex;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#box8{
    /* grid-area:b8 ; */
    display: flex;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#box9{
    /* grid-area:b8 ; */
    display: flex;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#box10{
    /* grid-area:b8 ; */
    display: flex;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#box11{
    /* grid-area:b8 ; */
    grid-column: 7/11;
}

.produtos{
    color: #0A250D;
}

input > #box5{
    width: 30px;
}


