*{
    margin: 0;
    padding: 0;
}
.faixa1{
    background-color: #093807;
    display: flex;
    height: 8.8vh;
    align-items: center;  
}
#logo{
    height: 35vh;
    padding: 0%;
    margin-left: -0.7%;
}
.pesquisa{
    display: flex;
    background-color: white;
    height: 61.83%;
    align-items: center;
    border-radius: 12px;
    width: 16.2%;
    padding-left: 2.27%;
    margin-left: 46.6%;
    
}
.pesquisa img {
    height: 70%;
    margin-left: 5%;
}
input{
    border: none;
    outline: none;
}
.entrar{
    display: flex;
    height: 75%;
    align-items: center;
    margin-left: 4.5%;
}
p{
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
}
.sacola{
    display: flex;
    height: 75%;
    align-items: center;
    margin-left: 1.4%;
}
img{
    height: 60%;
}
.faixa2{
    background-color: #429C44;
    height: 7.2vh;
}
.opcoes{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 67.8%;
    justify-content: space-between;
    width: 21.3%;
}
.opcoes p {
    font-size: 16px;
}
body{
    background-color: #E9E7E4;
    font-family: 'Inter', sans-serif;
    color: #3D2A1A;
}
h1{
    display: flex;
    justify-content: center;
}
.informacoes{
    width:25vw;
    margin: 3vh 0 0;
}
.endereco{
    background-color: #DFCBBE;
    margin: 2.5vh 0 1.5vh 0;
    height: 36%;
}
.endereco > h2{
    margin-top: 3%;
    font-size: 20px;
}
.endereco img{
    margin-top: 2%;
    
}
.envio{
    background-color: #DFCBBE;
}
.pagamento{
    background-color: #DFCBBE;
    margin: 3vh 0 ;
    height: 24%;
}
.country{
    margin-top: 3%;
}
.country select{
    
}
.country span{
    margin-left: 1%;
    padding-right: 36%;
}
.country img{
    width: 4vw;
}
.cep img{
    width: 2.5vw;
}
.casa img{
    width: 2.4vw;
}
h2{
font-size: 20px;
}
.envio > h2 > img{
    width: 4vw;

}
.inputs{
    margin-left: 12%;
    margin-top: 4%;
}
.envio img{
    width: 4vw;
    margin-left: 6%;
}
.formaenvio{
    display: flex;
    align-items: baseline;
}
.formaenvio img{
    margin-left: 2%;
    align-self: center;
}
.fde{
    margin-left: 2%;
}
#sedex{
    margin-left: 10%;
}
.pagamento img{
    width: 3vw;
}
form{
    display: flex;
    width: 100%;
}
.descricao{
    display: flex;
}
.descricao img{
    width: 28%;
}
.descproduto{
    width: 20vw;
    margin-left: 5%;
}
.desc {
    background-color: white;
    color: #3D2A1A;
    
    font-weight: 500;
}
.ume50{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10%;
    align-items: baseline;
    
}
.box{
    padding: 2%;
    padding-left: 4%;
    border-radius: 10px;
}
.num{
    color: #EBECF0;
    background-color: #093807;
    padding: 0.8% 2.5%;
    border-radius: 50%;
}
.um{
    padding: 0.5% 3%;
}
.dois{
    padding: 0.5% 2.5%;
    margin-top: 2%;
}
main input{
    background-color: #DFCBBE;
    border-bottom: solid 1px #6D5842;
}
.country label > span {
    border-bottom: solid 1px #6D5842;
}
.asdemais{
    margin-top: 2.5%;
}
.bolpix{
    display: flex;
    margin-left:12%;
    margin-top: 5%;
}
.bolpix img{
    width: 35%;
}
.boleto{
    display: flex;
}
.bolet{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.pix{
    display: flex;
}
.pi{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pagamento h2{
    margin-top: 2%;
}
#marca{
    color: #3D2A1A;
    font-size: 14px;
}
#umdesc{
    background-color: #B49E88;
    padding: 5% 10%;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
}
#cinquenta{
    background-color: #DFCBBE;
    padding: 5% 4%;
    border-radius: 8px;
}
.voltar{
    margin-left: 74%;
    font-size: 14px;
}
.resumo h1{
    margin-top: 4%;
    margin-bottom: 3%;
    width: 83%;
}
h5{
    margin-top: 5%;
    margin-bottom: 2%;
}
h3{
    margin-top: 2%;
}
input[type=submit]{
    padding: 3% 6%;
    display: flex;
    margin: auto;
    margin-top: 3.5%;
    border-radius: 8px;
    border: none;
    background-color: #093807;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
form{
    display: flex;
    justify-content: center;
}
textarea{
    background-color: #DFCBBE;
    border: none;
    outline: none;
    padding: 1% 2% 1% 2%;
    border-radius: 15px;
}
a{
    color: #3C2919;
}
#linha{
    display: flex;
    align-self: center;
    height: 70vh;
    margin-top: 4.5%;
}
h1{
    font-size: 25px;
}
.endereco input{
    margin-left: 6%;
    width: 75%;
}
.observacoes{
    width: 85%;
}
h4{
    margin-top: 2%;
}