*{
    margin: 0;
    padding: 0;
}
.faixa1{
    background-color: #093807;
    display: flex;
    height: 8.8vh;
    align-items: center;  
}
#logo{
    height: 35vh;
    padding: 0%;
    margin-left: -0.7%;
}
.pesquisa{
    display: flex;
    background-color: white;
    height: 61.83%;
    align-items: center;
    border-radius: 12px;
<<<<<<< HEAD
    width: 16.2%;
    padding-left: 2.27%;
    margin-left: 46.6%;
=======
    width: 18%;
    padding-left: 2.27%;
    margin-left: 45%;
>>>>>>> 1c9013b1c0e466a60e1165ddfed324c21e329315
    
}
.pesquisa img {
    height: 70%;
<<<<<<< HEAD
    margin-left: 10%;
=======
    margin-left: 18%;
>>>>>>> 1c9013b1c0e466a60e1165ddfed324c21e329315
}
input{
    border: none;
    outline: none;
}
.entrar{
    display: flex;
    height: 75%;
    align-items: center;
<<<<<<< HEAD
    margin-left: 4.5%;
=======
    margin-left: 3%;
>>>>>>> 1c9013b1c0e466a60e1165ddfed324c21e329315
}
p{
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
}
.sacola{
    display: flex;
    height: 75%;
    align-items: center;
<<<<<<< HEAD
    margin-left: 1.4%;
=======
    margin-left: 3%;
}
.sacola p{
    margin-left: 8%;
>>>>>>> 1c9013b1c0e466a60e1165ddfed324c21e329315
}
img{
    height: 60%;
}

.faixa2{
<<<<<<< HEAD
    background-color: #429C44;
=======
    background-color: #429B40;
>>>>>>> 1c9013b1c0e466a60e1165ddfed324c21e329315
    height: 7.2vh;
}
.opcoes{
    display: flex;
    height: 100%;
    align-items: center;
<<<<<<< HEAD
    margin-left: 67.8%;
    justify-content: space-between;
    width: 21.3%;
}
.opcoes p {
    font-size: 16px;
}

.informacoes{
    width:25vw;
    margin: 3vh 0 0;
}
.endereco{
    background-color: #DFCBBE;
    margin: 3vh 0;
}
.envio{
    background-color: #DFCBBE;
    
}
.pagamento{
    background-color: #DFCBBE;
    margin: 3vh 0 ;
}
.country img{
    width: 5vw;
}
.cep img{
    width: 3vw;
}
.casa img{
    width: 3vw;
}
.envio > h2 > img{
    width: 4vw;
}
.envio > label > img{
    width: 5vw;
}
.pagamento img{
    width: 4vw;
=======
    margin-left: 78%;
    justify-content: space-between;
    width: 20%;
}
.opcoes p {
    font-size: 16px;
>>>>>>> 1c9013b1c0e466a60e1165ddfed324c21e329315
}