*{
    margin: 0;
    padding: 0;
}
.faixa1{
    background-color: #093807;
    display: flex;
    height: 8.8vh;
    align-items: center;  
}
#logo{
    height: 35vh;
    padding: 0%;
    margin-left: -0.7%;
}
.pesquisa{
    display: flex;
    background-color: white;
    height: 61.83%;
    align-items: center;
    border-radius: 12px;
    width: 18%;
    padding-left: 2.27%;
    margin-left: 45%;
    
}
.pesquisa img {
    height: 70%;
    margin-left: 18%;
}
input{
    border: none;
    outline: none;
}
.entrar{
    display: flex;
    height: 75%;
    align-items: center;
    margin-left: 3%;
}
p{
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
}
.sacola{
    display: flex;
    height: 75%;
    align-items: center;
    margin-left: 3%;
}
.sacola p{
    margin-left: 8%;
}
img{
    height: 60%;
}

.faixa2{
    background-color: #429B40;
    height: 7.2vh;
}
.opcoes{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 78%;
    justify-content: space-between;
    width: 20%;
}
.opcoes p {
    font-size: 16px;
}